<div flex layout="column" ng-controller="AptController as ul" style="height: 100%">

    <!-- Container #1 (in wireframe) -->

    <md-toolbar layout="row" class="md-whiteframe-z2">
        <div class="md-toolbar-tools">
            <md-button class="menu" ng-click="ul.toggleList()" aria-label="Show apartments List">
                <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
            </md-button>

            <h2><span>Renta: Tel-Aviv</span></h2>
            <span flex></span>
            <md-button class="md-fab md-button md-fab-top-right" aria-label="Add" ng-click="ul.showAdd($event)">
                <md-icon aria-label="Add" class="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <!-- Container #2 (in wireframe) -->

    <md-content layout="row" style="height: 100%">
        <!-- Container #3 (in wireframe) -->
        <md-content flex style="height: 100%">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <!--<md-sidenav class="md-whiteframe-z2" md-component-id="left" layout="column">-->
            <md-list layout="column" layout-padding>
                <form dir="rtl">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label for="testInput">חפש כתובת</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-list-item ng-repeat="it in ul.users">
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                        {{it.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <!-- Container #4 (in wireframe) -->

        <md-content id="content" flex layout="column">
            <ng-map class="mymap" center="Tel-Aviv" zoom="15" disable-default-u-i="true" default-style="false"></ng-map>
            <md-content layout-margin>
                <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
                <h2>{{ul.selected.name}}</h2>
                <p>{{ul.selected.content}}</p>
            </md-content>

        </md-content>
</md-content>
    </md-content>
</div>
